
<h1>New Conversion</h1>

<form action= "http://localhost:3000/coords">
  <div>
    <label for="the_caption">Adress:</label>
    <input id="the_caption" type="text" name="caption">
  </div>
  <div>
    <input type="submit" value="Find Coordinates">
  </div>
</form>
